@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --green: #008F39;

  /* Light Mode Styles */
  --white: #FFFFFF;
  --light-grey: #D9D9D9;
  --medium-grey: #B5B5B5;
  --dark-grey: #5F5F5F;
  --very-dark-grey: #3F3F3F;
  --hover-grey: #C6C6C6;
  --black: #000000;

  /* Dark Mode Styles */
  --dark-mode-white: #D0D0D0;
  --dark-mode-very-light-grey: #888888;
  --dark-mode-light-grey: #3A3A3A;
  --dark-mode-medium-grey: #5D5D5D;
  --dark-mode-dark-grey: #252525;
  --dark-mode-very-dark-grey: #181818;
  --dark-mode-hover-grey: #D0D0D0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 16px;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #646464;
}

/* MAIN CONTAINER */
.container {
  position: relative;
  background-color: var(--white);
  display: flex;
  width: 37.5rem;
  min-height: 42rem;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.625rem;
  margin-bottom: 0.3rem;
}

/* NAV SECTION */
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  min-height: 7.395rem;
}

header {
  width: 48%;
}
header h1 {
  font-size: 2.5rem;
  text-wrap: wrap;
  overflow-wrap: break-word;
  margin-bottom: 0.25rem;
}
header p {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-grey);
}

nav {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.27rem;
  align-items: end;
}
.navbar {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
.nav-icon {
  width: 3.125rem;
  height: 3.125rem;
}
.navbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  outline: none;
  border: 0;
  border-radius: 0.25rem;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
.navbar button:hover {
  background-color: var(--hover-grey);
}
.icon {
  fill: var(--black);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  width: 11.375rem;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
}
.dropdown-menu button {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.1s linear;
}
.dropdown-menu button:hover {
  background-color: var(--hover-grey);
  cursor: pointer;
}
.dropdown-menu button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
}
.dropdown-menu button, .view-lists-btn button {
  border: none;
  background-color: transparent;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* FORM */
.popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  display: none;
  align-items: center;
  justify-content: center;
}
.popup-container {
  background-color: var(--light-grey);
  padding: 2rem;
  width: 80%;
  border-radius: 0.25rem;
  box-shadow: 0px 7px 7.8px rgba(0, 0, 0, 0.25);
}
.popup-container h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  cursor: default;
}
.popup-container label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
form label {
  max-width: fit-content;
  cursor: pointer;
}
.popup-container input {
  height: 2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: none;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: var(--medium-grey);
  color: var(--dark-grey);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.add-task-input:focus-visible,
.edit-list-input:focus-visible,
.add-list-input:focus-visible {
  border: 2px solid var(--very-dark-grey);
  outline: none;
  caret-color: var(--dark-grey);
}
.error-message {
  display: none;
  color: red;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  cursor: default;
}
.title-of-task,
.time-of-task,
.title-of-list,
.date-of-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.time-of-task, .date-of-list {
  margin-bottom: 1.5rem;
}
.form-buttons {
  display: flex;
  justify-content: space-around;
}
.form-buttons input {
  transition-property: color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.form-buttons input:hover {
  background-color: #A3A3A3;
  color: var(--very-dark-grey);
  cursor: pointer;
}
.form-buttons input {
  width: 40%;
  font-weight: 600;
}

/* TO-DO LIST & VIEW LIST*/
.to-do-list, .view-lists {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 28.3055rem;
  overflow-y: auto;
}
.task, .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.5rem;
  background-color: var(--light-grey);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.38rem;
}
.task button, .list button {
  height: 2.875rem;
  width: 2.875rem;
  border: none;
  background-color: var(--white);
}
.check-mark-div {
  min-width: 3.875rem;
}
.check-mark-button {
  border-radius: 50%;
  margin-right: 1rem;
}
.task-info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  flex-grow: 1;
  word-break: break-all;
  height: 100%;
}
.task-info h2 {
  font-size: 1.25rem;
  margin-top: 0.925rem;
}
.list h2 {
  font-size: 1.5rem;
}
.task-info p {
  font-size: 0.875rem;
  color: var(--dark-grey);
  font-weight: 600;
  margin-bottom: 0.925rem;
}
.buttons {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}
.buttons button {
  border-radius: 0.25rem;
}

/* FOOTER */
footer {
  display: flex;
  position: relative;
  left: 15.2rem;
}
footer p {
  color: #BABABA;
  font-weight: bold;
  font-size: 0.875rem;
}